rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /ingresosdb/{doc} {
      allow read, write: if request.auth != null && request.auth.uid == '29zF5UA56AO46ooM6KAgRhOP6Vi1';
    }
    match /a2024db/{month}/{day}/{doc} {
      allow read, write: if request.auth != null && request.auth.uid == '29zF5UA56AO46ooM6KAgRhOP6Vi1';
    }
    match /hora/{doc} {
      allow read, write: if true;
    }
    match /a2024/{month}/{day}/{doc} {
      allow read, write: if true;
    }
    match /a2024temporal/{month}/{day} {
      allow read, write: if true;
    }
    match /a2024temporal/{month}/{day}/{doc} {
      allow read, write: if true;
    }
    match /ingresos {
      allow read, write: if true;
    }
    match /ingresos/{doc} {
      allow read, write: if true;
    }
    match /ingresostemporal {
      allow read, write: if true;
    }
    match /ingresostemporal/{doc} {
      allow read, write: if true;
    }
  }
}