*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background: #014886;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 40px;
	font-size: 1.3rem;
	color: white;
}

.h1{
	display: block;
	margin: 30px auto;
}

.container{
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 40px auto;
	width: 90%;
}

.caja{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-bottom: 4px solid #997b21;
	padding-bottom: 12px;
}

.minionFondo{
	width: 100%;
	margin: 0 auto;
	display: none;
}

.logo{
	width: 240px;
	display: block;
	margin: 20px auto;
	transition: .7s;
}

.logo:hover{
	transform: scale(1.1);
}

.QR{
	border-radius: 0px;
}

.logoQR{
	width: 50px;
	border-radius: 0px;
}

.boton{
	display: block;
	margin: 0 auto;
	width: 35%;
	height: 40px;
	background: linear-gradient(45deg, #dfbd59, #8a6225);
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 4px 4px 4px;
	transition: .7s;
	font-size: 1.3rem;
}

.boton:hover{
	transform: scale(1.1);
	background: linear-gradient(10deg, #dfbd59, #8a6225);
	box-shadow: 6px 6px 6px;
}

.botonAdmin{
	width: 50px;
	color: black;
}

.btn-flecha{
	font-size: 1.7rem;
	width: 20%;
}

.link{
	text-decoration: none;
	font-size: 1.3rem;
	color: black;
}

.form{
	border: 4px solid #997b21;
	border-radius: 20px;
	width: 85%;
	gap: 30px;
	text-align: center;
	padding: 15px 7px;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 50px auto;
}

.lista{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.lista-item{
	border: 1px solid #8a6225;
	background: linear-gradient(45deg, #8a6225, #dfbd59);
	border: 1px solid black;
	padding: 5px 5px;
	border-radius: 10px;
	font-weight: bold;
	white-space: pre-wrap;
	width: 70%;
	margin: 0 auto;
	transition: .7s;
	margin-top: 20px;
	color: black;
}

.lista-item:hover{
	background: linear-gradient(10deg, #8a6225, #dfbd59);
	transform: scale(1.1);
}

.input{
	display: block;
	margin: 10px auto;
	width: 65%;
	border-radius: 20px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	font-size: 1.3rem;
}

.input:focus{
	outline: none;
}

.document-list {
    white-space: pre-wrap; /* Mantiene los saltos de línea en el contenido de texto */
}

.protected-content{
	display: none;
}

@media (max-width: 770px){
	.logo{
		width: 190px;
	}
	
	.QR{
	    border-radius: 0px;
    }

    .logoQR{
	    width: 50px;
	    border-radius: 0px;
   }
	
	.form{
		width: 95%;
		font-size: 1.1rem;
	}
	
	.input{
		width: 85%;
		font-size: 1.1rem;
	}
	
	.boton{
		width: 60%;
		font-size: 1.1rem;
	}
	
	.botonAdmin{
		width: 50px;
	}
	
	.link{
		font-size: 1.1rem;
	}
	
	.btn-flecha{
		width: 30%;
	}
	
	.lista{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px){
	.minionFondo{
			display: block;
	}
	
	.input{
		width: 100%;
	}
}