*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background: #014886;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 1.3rem;
	color: white;
	font-weight: bold;
}

.h1{
	display: block;
	margin: 30px auto;
}

.container{
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 20px auto;
	width: 90%;
}

.caja{
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-bottom: 4px solid #997b21;
	padding-bottom: 12px;
	border-radius: 50px;
}

.minionFondo{
	width: 100%;
	margin: 0 auto;
	display: none;
}

.logo{
	width: 20%;
	display: block;
	margin: 20px auto;
	transition: .7s;
}

.logoBienvenida{
	width: 460px;
	padding-left: 20px;
}

.logo:hover{
	transform: scale(1.1);
}

.logoQR{
	width: 60px;
}

.boton{
	display: block;
	margin: 0 auto;
	width: 25%;
	height: 40px;
	background: linear-gradient(130deg, #dfbd59, #8a6225);
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 6px 5px 4px rgb(0, 0, 0, 0.8);
	transition: .7s;
	font-size: 1.3rem;
	font-weight: bold;
}

.boton:hover{
	background: linear-gradient(10deg, #dfbd59, #8a6225);
	box-shadow: -6px 5px 4px rgb(0, 0, 0, 0.8);
}

.botonAdmin{
	width: 50px;
	color: black;
}

.btn-flecha{
	font-size: 1.7rem;
	width: 20%;
}

.deleteBtn{
	background: linear-gradient(130deg, #c11616, #7f1d1d);
	font-size: 25px;
}

.deleteBtn:hover{
	background: linear-gradient(10deg, #7f1d1d, #c11616);
}

.link{
	text-decoration: none;
	font-size: 1.3rem;
	color: black;
	display: block;
	width: 100%;
}

.form{
	border: 4px solid #997b21;
	border-radius: 20px;
	width: 85%;
	gap: 20px;
	text-align: center;
	padding: 15px 7px;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 20px auto;
}

.lista{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.lista-item{
	background: linear-gradient(45deg, #8a6225, #dfbd59);
	border: 1px solid black;
	padding: 5px 5px;
	border-radius: 10px;
	font-weight: bold;
	white-space: pre-wrap;
	width: 70%;
	margin: 0 auto;
	transition: .7s;
	margin-top: 20px;
	color: black;
}

.lista-item:hover{
	background: linear-gradient(10deg, #8a6225, #dfbd59);
}

.input{
	display: block;
	margin: 10px auto;
	width: 80%;
	border-radius: 20px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	font-size: 1.3rem;
}

.input:focus{
	outline: none;
}

.document-list {
    white-space: pre-wrap; /* Mantiene los saltos de línea en el contenido de texto */
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 90%);
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 24px;
}

.textBorder {
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; /* Efecto de borde */
}

.logoutContainer {
    position: fixed;
    top: 30px;
    left: -5%;
    display: flex;
    justify-content: end;
	border-radius: 50px;
	border: 1px solid black;
	background: #16812d;
    align-items: center;
    padding: 0 10px;
    color: black;
    width: 120px;
    height: 40px;
    transition: 1s;
	cursor: pointer;
}

.logout {
    font-size: 27px;
}

.logoutText {
	margin: auto;
    font-size: 26px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

/* Aparecer el texto cuando el mouse esté sobre el contenedor */
.logoutContainer:hover .logoutText {
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
	color: black;
}

.logoutContainer:hover {
	left: 5px;
	background: #199734;
	box-shadow: 6px 5px 4px rgb(0, 0, 0, 0.8);
	height: 50px;
	width: 140px;
}

.protected-content{
	display: none;
}

@media (max-width: 770px){
	.logo{
		width: 50%;
	}
	
	.logoBienvenida{
	    width: 400px;
    }
	
    .logoQR{
	    width: 50px;
	    border-radius: 0px;
   }
	
	.form{
		width: 95%;
		font-size: 1.1rem;
	}
	
	.input{
		width: 85%;
		font-size: 1.1rem;
	}
	
	.boton{
		width: 60%;
		font-size: 1.1rem;
	}
	
	.botonAdmin{
		width: 50px;
	}
	
	.link{
		font-size: 1.1rem;
	}
	
	.btn-flecha{
		width: 30%;
	}
	
	.lista{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px){
	.minionFondo{
			display: block;
	}
	
	.input{
		width: 98%;
	}
	
	.titulo{
		font-size: 2.1rem;
	}
	
	body{
		margin-top: 40px;
	}
	
	.logoQR{
		width: 50px;
	}
	
	.logoBienvenida{
	    width: 350px;
		padding-left: 0px;
    }
	
	.logout{
		width: 30%;
		left: -20%;
	}
	
	.logout:hover{
		left: -9%;
	}
	
	.logoutBtn{
		width: 100%;
	}
}